* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
  }

  body {
    font-family: 'Raleway' , sans-serif;
    background-color: #344a72;
    color: #fff;
    line-height: 1.8;
  }

  a {
   text-decoration: none;
  }

  #container {
    margin: 30px auto;
    max-width: 400px;
    padding: 20px;
  }

  .form-wrap {
    background: #fff;
    padding: 15px 25px;
    color: #333;
    border-radius: 10px;

  }

  .form-wrap .form-group input:focus {
    outline: none;
    border-color: #f7c08a;
  }

  .form-wrap h1,
  .form-wrap p {
    text-align: center;
  }

  .form-wrap .form-group {
    margin-top: 15px;
  }

  .form-wrap .form-group label {
    display: block;
    color: #666;
  }

  .form-wrap .form-group input {
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
  }

  .form-wrap button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #49c1a2;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
  }

  .form-wrap button:hover {
    background: #37a08e;
  }

  .form-wrap .bottom-text {
    font-size: 13px;
    margin-top: 20px;
  }

  footer {
   text-align: center;
   margin-top: 10px;
  }

  footer a {
    color: #49c1a2;
  }

  .error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }

  .warning {
    background: yellow;
    color: blueviolet;
    padding: 5px;
    margin: 5px;
  }